default:
    suites:
        default:
            contexts:
                - App\Tests\Behat\DemoContext

    extensions:
        FriendsOfBehat\SymfonyExtension:
            bootstrap: tests/bootstrap.php
        Behat\MinkExtension:
            base_url: "http://127.0.0.1:8000"
            default_session: selenium2
            javascript_session: selenium2
            browser_name: chrome
            show_cmd: 'open %s'
            symfony: ~
            selenium2:
                browser: "chrome"
                wd_host: http://localhost:9515